<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="main-tree" color="black">
  <!--Для листьев-->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <div class="tree-node" [style.--deletedCol]="node.is_deleted? 'gray' : 'white'">
      <!--Для отступов листьев дерева невидимая пустая кнопка-->
      <button mat-icon-button disabled></button>
      {{node.id + ' - ' + node.title}}  
    </div>
  </mat-tree-node>
  <!--Для веток-->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
    <div class="tree-node" [style.--deletedCol]="node.is_deleted? 'gray' : 'white'">
      <!--Кнопка для разворачивания дерева-->
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.id + ' - ' + node.title}}
    </div>
  </mat-tree-node>
</mat-tree>
